body {
  background-color: #2A363B;
  font-family: 'Oswald'; }

.box {
  width: 400px;
  border-radius: 10px;
  background-color: #fecea8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px; }
  .box img {
    width: 15%; }
  .box .title {
    color: white;
    font-size: 60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2A363B;
    text-align: center;
    padding-top: 20px; }
  .box .username, .box .password, .box .photo {
    display: block;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #2A363B;
    padding: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }
  .box #submit {
    border-radius: 5px;
    border: 1px solid #2A363B;
    background-color: #2A363B;
    color: white;
    margin-left: 164px;
    margin-top: 29px;
    width: 40%;
    padding: 10px; }
  .box li {
    list-style-type: none;
    margin-top: 30px; }

#nav {
  width: 100%;
  height: 183px;
  background-color: #fecea8;
  margin-top: -34px;
  position: relative; }
  #nav img {
    width: 5%;
    display: inline-block; }
  #nav li {
    list-style-type: none;
    display: block;
    margin-left: 100px;
    margin-bottom: -40px;
    margin-top: 37px;
    padding-bottom: 10px; }
    #nav li h1 {
      color: white;
      font-size: 60px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #2A363B;
      text-align: center;
      padding-top: 50px;
      margin-left: -126px; }
    #nav li a {
      display: block;
      color: #2A363B;
      font-size: 20px;
      margin-left: -100px;
      width: 7%;
      margin-top: -109px; }

.drinkform {
  width: 700px;
  height: 400px;
  border-radius: 10px;
  background-color: #fecea8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-top: 18px; }
  .drinkform h2 {
    text-align: center;
    padding-bottom: 15px; }
  .drinkform input {
    border-radius: 10px;
    border: 1px solid #2A363B;
    display: block;
    width: 75%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }
  .drinkform #liquor {
    margin-top: 10px; }
  .drinkform .send-stuff {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #2A363B;
    background-color: #2A363B;
    color: white;
    margin-left: 258px;
    margin-top: 40px;
    width: 25%; }

.drinkList, .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 80%;
  margin-left: 200px; }

.profile {
  width: 735px;
  border-radius: 10px;
  background-color: #fecea8;
  margin-left: 400px;
  margin-top: 100px;
  padding-top: 40px; }
  .profile li {
    list-style-type: none; }
    .profile li img {
      width: 25%;
      height: 170px;
      border: 2px solid #2A363B;
      border-radius: 100px; }
  .profile h3 {
    text-align: center;
    margin-top: 100px; }
  .profile h2 {
    margin-left: 25px; }

article {
  border-radius: 10px;
  background-color: #fecea8;
  border: 1px solid #2A363B;
  display: flex;
  color: white;
  flex-direction: column;
  width: 300px;
  margin-top: 30px;
  justify-content: center; }
  article h3 {
    margin-left: 20px; }
  article ul li {
    list-style-type: none; }
  article #like {
    color: white;
    background-color: #2A363B; }

.toTheLeft {
  width: 140px;
  height: 750px;
  position: fixed;
  z-index: 2;
  overflow: scroll;
  border-radius: 10px;
  background-color: #fecea8;
  margin: 0;
  padding-top: 40px; }
  .toTheLeft #side {
    margin-left: 0;
    padding: 0; }
    .toTheLeft #side li {
      width: 140px;
      list-style-type: none; }
      .toTheLeft #side li img {
        margin-left: 5px;
        width: 130px;
        border-radius: 30px; }

.toTheLeft {
  color: white;
  width: 300px;
  height: 750px;
  position: absolute;
  z-index: -1;
  overflow: scroll;
  border-radius: 10px;
  background-color: #fecea8;
  padding-top: 40px; }
  .toTheLeft #side {
    margin-left: 0;
    padding: 0;
    width: 100%; }
    .toTheLeft #side li {
      width: 100%;
      list-style-type: none;
      margin: 10px; }
      .toTheLeft #side li img {
        margin-left: 5px;
        width: 30%;
        height: 87px;
        border-radius: 130px;
        display: inline-block;
        border: 2px solid #2A363B; }
      .toTheLeft #side li h5 {
        display: inline-block;
        font-size: 20px;
        margin-left: 30px; }

button {
  background-color: #2A363B;
  color: white;
  margin-left: 110px;
  border: 1px solid #2A363B;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 23px; }

.hidden {
  display: none; }

#submitCreate {
  margin-left: 169px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #2A363B;
  background-color: #2A363B;
  color: white;
  width: 40%;
  padding: 10px; }

#cancel {
  margin-left: 175px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #2A363B;
  background-color: #2A363B;
  color: white;
  width: 40%;
  padding: 10px; }

#recipes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start; }
